@import "variables";

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  & .card {
    max-width: 18rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $bg-text-dark;
    padding: 1rem;

    & .card-image {
      & > img {
        overflow: hidden;
        object-fit: cover;
        width: 15rem;
      }
    }

    & .card-text {
      display: flex;
      width: 100%;
      justify-content: space-between;
      color: $color-primary-light;
      font-size: 1.2rem;

      & .card__title {
        margin-top: 1.5rem;
      }

      & .like-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    & .btn-container {
      width: 100%;
      margin: 1rem 0;

      & .btn {
        padding: 1rem;
        text-align: center;
        color: $bg-color-light;
        border-radius: 5px;
        width: 100%;
        background-color: $bg-color;
        box-shadow: 2px 2px 2px $bg-text-dark;

        &:hover {
          background-color: $bg-text-dark;
          cursor: pointer;
        }
      }
    }
  }
}
