@import "variables";

.comments-popup {
  .recipe {
    position: relative;
    border: 1px solid #655a56;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .close-btn {
      position: absolute;
      right: 1rem;
      top: 0.4rem;
      background: none;
      font-size: 2rem;
      font-weight: 700;
      border: none;
      color: $bg-text-dark;
    }

    &__image { margin-top: 1.6rem; }

    &__text {
      margin: 1rem 0;
      width: 300px;

      & h2 {
        text-align: center;
        color: $bg-text-dark;
      }

      .details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $bg-text-dark;
      }
    }

    & .comments {
      width: 300px;
      color: $bg-text-dark;

      &__title {
        text-align: center;
        color: $bg-text-dark;
      }

      .comments-list {
        margin: 10px auto;
        padding-left: 1.3rem;
      }
    }

    .add-comment {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & h2 {
        color: $bg-text-dark;
        padding: 0.4rem 0 1rem;
      }

      & .new-comment {
        width: 270px;

        .form {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;

          & .input-name,
          & textarea {
            width: 100%;
            padding: 0.4rem;
            font-size: 1rem;
            color: $bg-text-dark;
            margin-bottom: 0.5rem;
          }
        }

        .add-comment-btn {
          padding: 1rem;
          font-size: 1rem;
          text-align: center;
          color: #f9f5f3;
          border-radius: 5px;
          width: 100%;
          background-color: #968b87;
          box-shadow: 2px 2px 2px #655a56;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
