@import "variables";

.footer {
  margin-top: 2rem;
  width: 100%;

  &__container {
    border-top: 1px solid $bg-text-dark;
    color: $bg-text-dark;
    padding: 1rem 0;
    font-size: 1.15rem;

    & .footer-text {
      text-align: right;
      padding-right: 0.95rem;

      & .creator {
        font-weight: 700;
        color: $bg-text-dark;

        &:hover { font-size: 1.18rem; }
      }
    }
  }
}
