@import "variables";

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-image: linear-gradient(to right bottom, rgb(251, 219, 137), rgb(244, 137, 130));
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  display: none;
}

.container {
  width: 60%;
  margin: auto;
  background-color: $bg-color-light;
  height: 100vh;
}

.logo-font {
  font-family: 'Comforter', cursive;
  letter-spacing: 0.2rem;
  color: $bg-text-dark;
}
