/* ---------------
| Color variables
----------------- */

$bg-text-dark: #655a56;
$bg-color-light: #f9f5f3;
$bg-color: #968b87;

$color-primary: #fbdb89;
$color-primary-light: #f59a83;
$color-primary-dark: #f48982;  /* Also used for text */
